dataset/
__pycache__
images_output/
raw_images/
hard_images_output/
cnn/backend/runs/
dataset_val/
dataset_val_clean/
cnn/backend/logs/
dataset_val_test_raw/
dataset_val_189_shtuk.zip
tracker
hog_svm/
tracker/recordings/
tracker/known_faces/
person-detector/recordings/
dataset_val_low_transform/
dataset_val_low_transform_bi/
.env
output/
recordings/
meter-watch-shared/meter_watch_shared.egg-info/
yolov8n.pt
cnn/backend/classification_report.txt
cnn/backend/models/digit_recognizer.pth
