__pycache__
services/cnn-recognizer/runs/
services/cnn-recognizer/logs/
data/
services/person-detector/recordings/
.env
output/
recordings/
meter-watch-shared/meter_watch_shared.egg-info/
yolov8n.pt
services/cnn-recognizer/classification_report.txt
services/cnn-recognizer/models/digit_recognizer.pth
experiments/hog_svm/*.pkl
services/cnn-recognizer/models/*.pth
services/cnn-recognizer/models/digit_recognizer.pth
experiments/tracker/
