 :host {
     display: block;
     min-height: 100vh;
    //  background: #f9fafb;
 }

 .wrapper-router {
     max-width: 1400px;
     margin: 0 auto;
    //  background: white;
    //  border-radius: 20px;
    //  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    //  overflow: hidden;
    //  padding: 16px;
 }